@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "../../../../source/objectStyle.scss";

.flag {
  width: 45px;
  height: 30px;
}

p {
  margin-bottom: 0;
}
$color: #201f1f;

.description {
  background: $color;
  font-family: "Roboto", sans-serif;
  max-width: 857px;
  padding: 77px 29px 78px 77px;
  display: flex;
  margin-bottom: 30px;
  margin-right: 20px;
  @media (max-width: 1100px) {
    max-width: 100%;
    margin-right: 0px;
  }
  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    padding: 30px 22px 30px 22px;
  }
  & > img {
    width: 262px;
    height: 387px;
    margin-right: 28px;
    @media (max-width: 550px) {
    margin-right: 0;
    }
  }
  & .film_description {
    & > div {
      margin-bottom: 17px;
    }
    & .about_film {
      @include styleText(17, 25);
      color: #929292;
      margin-bottom: 0;
      display: -webkit-box;
      -webkit-line-clamp: 12;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  & .film_characteristiv {
    display: flex;
    align-items: center;
    margin-left: -5px;
    @media (max-width: 450px) {
    flex-wrap: wrap;
    justify-content: center;
      }
    
    & > span {
      margin-right: 15px;
    }
    & > span:last-child {
      @include styleText(18, 21);
    }
    & .rating span {
      @include styleText(24, 28);
      font-weight: bold;
      margin-left: 5px;
    }
  }
  & .name_film {
    @include styleText(48, 56);
    font-weight: bold;
  }
}

.additional_information {
  max-width: 40.75rem;
  padding: 19px 22px;
  background: $color;
  margin-bottom: 30px;
  @media (max-width: 1100px) {
    max-width: 100%;
  }

  & .county_name {
    @include styleText(36, 42);
    font-weight: bold;
    margin-bottom: 45px;
    @media (max-width: 540px) {
      @include styleText(25, 35);
    }
    @media (max-width: 450px) {
    margin-bottom: 20px;
    }
    & span {
      margin-right: 12px;
    }
  }
  & .film_information {
    display: flex;
    justify-content: space-between;
    @include styleText(30, 35);
    @media (max-width: 650px) {
      @include styleText(25, 35);
    }
    @media (max-width: 540px) {
      @include styleText(20, 25);
    }
    & .decription_fileds {
      margin-left: 30px;
      max-width: 370px;
      color: grey;
      @media (max-width: 1100px) {
        max-width: 500px;
      }
      @media (max-width: 800px) {
        max-width: 340px;
        margin-left: 10px;
      }
      @media (max-width: 400px) {
        max-width: 210px;
        
      }
  
      & p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
