@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
@import "../../../../source/objectStyle.scss";


@mixin updateScreen {
  @media (max-width:700px) {
    display: none;
  }
}

.profile {
  display: flex;
  align-items: center;
  & > div:not(:last-of-type) {
    margin-right: 25px;
  }
  
}
.profile__userName {
  @include styleText(20, 30);
  font-family: fantasy;
  letter-spacing: 2px;
}

.profile__avatar {
  position: relative;
  cursor: pointer;
  @media (max-width:700px) {
    margin-right: 0px !important;
  }
  & .avatar > img {
    width: 50px;
    height: 50px;
    @include updateScreen;
  }
  & .avatar:hover img {
    transition: 0.5s;
    border: 2px solid #000;
  }
  & .avatar input {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
    @include updateScreen;
  }
}

.downloadWindow{
  position: absolute;
  opacity: 0;
}
.profileMenu{
  display: none;
  @media (max-width:700px) {
    display: block;
    padding: 0;
  }
}
.buttonProfile{
  @include updateScreen;
}
