@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap");
@import "../../../source/objectStyle.scss";

.footer {
  padding: 50px 41px;
  font-family: "Bitter", serif;
  &>div{
    display: flex;
    max-width: 1408px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    @media (max-width:520px) {
      flex-direction: column;
    }
  }
}
.nameLink,
.description__name {
  @include styleText(20, 22);
  margin-bottom: 14px;
}
.listLinks {
  max-width: 300px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(8.25rem, 1fr));
  margin-right: 10px;
  @media (max-width:520px) {
    margin-right: 0px;
    margin-bottom: 30px;
    max-width: 500px;
    grid-template-columns: repeat(2, 1fr);
  }
  & > a {
    @include styleText(18, 18);
    color: #b7b7b7;
    transition: 0.5s;
    &:hover {
      color: #fff;
      transition: 0.5s;
    }
  }
}
.footer__description {
  max-width: 665/16 + rem;
}
.description__text {
  @include styleText(18, 25);
  color: #b7b7b7;
  & div {
    margin-bottom: 14px;
    & b {
      color: #b11226;
    }
  }
}
