.slick-arrow {
  border: 1px solid #fff !important;
  height: 40px !important;
  width: 40px !important;
  z-index: 2 !important;
}

.slick-next:before {
  content: "ᐳ" !important;
}
.slick-prev:before {
  content: "ᐸ" !important;
}
.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center;
  cursor: pointer;
}

.slick-prev, .slick-next {
  top: 35% !important;
}