@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Roboto&display=swap");
@import "../../../source/objectStyle.scss";

@mixin updateScreen {
  @media (max-width: 750px) {
    display: none;
  }
}

.menu {
  max-width: 974px;
  margin: 0 auto;
  margin-top: 16px;
  padding: 0 35px 0 15px;
  & > ul {
    margin-bottom: 51px;
    padding-bottom: 15px;
    display: flex;
    position: relative;
    justify-content: space-between;
    @media (max-width: 750px) {
      justify-content: center;
      margin-bottom: 0px;
    }
    &::after {
      @include updateScreen;
      content: "▼";
      display: block;
      position: absolute;
      right: -20px;
      top: 35%;
      cursor: pointer;
      transform: translate(0, -50%);
    }
    &:hover::after {
      color: brown;
    }
    &:hover .other_item {
      display: block !important;
      transition: 0.5s;
    }
    & > li {
      cursor: pointer;
      font-family: "Bitter", serif;
      @include styleText(29, 29);
      color: #ffffff;
      @include updateScreen;
      &:hover {
        color: #b11226;
      }
    }
  }
}

.other_item {
  position: absolute;
  display: none;
  right: 0;
  top: 40px;
  z-index: 2;
  transition: 0.5s;
  @media (max-width: 750px) {
    top: 60px;
    right: -20px;
  }
  & ul {
    display: grid;
    max-width: 505px;
    padding: 20px;
    background: #ffffff;
    border: 3px solid #b11226;
    box-shadow: 0px 4px 4px 3px #b11226;
    border-radius: 20px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 450px) {
      max-width: 400px;
      grid-column-gap: 15px;
      padding: 10px;
      grid-template-columns: repeat(2, 1fr);
    }

    & li {
      @include styleText(24, 28);
      font-family: "Roboto", sans-serif;
      color: #707070;
      margin-bottom: 10px;
      margin-right: 10px;
      @media (max-width: 450px) {
        @include styleText(20, 28);
        margin-right: 0px;
      }
      &:hover {
        color: #b11226;
        cursor: pointer;
      }
    }
  }
}

.genres {
  border: 1px solid;
  padding: 10px;
  display: none;
  color: #ffffff;
  @media (max-width: 750px) {
    display: block !important;
  }
  &::after {
    content: "▼";
    font-size: 18px;
    margin-left: 10px;
  }
}

