@import "./source/nullstyle.scss";



.Wrraper {
  background-color: #000;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > .container {
    margin: 0 auto;
    max-width: 1408px;
    padding: 0 41px;
    width: 100%;
    @media (max-width: 600px) {
      padding: 25px;
     }
    @media (max-width: 400px) {
      padding: 15px;
     }
  }
}

.CircularProgress {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
}
